CompileFlags:
  Add:
    - -xcuda
    - --cuda-gpu-arch=sm_89
    - --cuda-path=/usr/local/cuda
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code=*
    - -rdc=*
    - --options-file
    - -Xcompiler*
    - -Xcudafe*

Diagnostics:
  Suppress:
    - drv_unknown_argument
