CompileFlags:
  Add:
    - -xcuda
    - --cuda-gpu-arch=sm_89
    - --cuda-path=/usr/local/cuda
    - -I/usr/local/cuda/targets/x86_64-linux/include/cccl
    - -I../include
    - -std=c++20
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code=*
    - -rdc=*
    - --options-file
    - -Xcompiler*
    - -Xcudafe*
    - -Xptxas*
    - --Wreorder
    - -Werror=all-warnings
    - -lineinfo

Diagnostics:
  Suppress:
    - drv_unknown_argument
    - deduction_guide_target_attr

---
If:
  PathMatch: .*/_deps/.*

Index:
  Background: Skip
